---
layout: page
title: 诗和远方
tagline: 人生不止眼前的苟且，还有诗和远方
---
{% include JB/setup %}

{% for post in site.posts %}
<div class = "card">
		<div  class = "date_label">
			<div class="day_month">
      			{{ post.date | date:"%m/%d" }}
      			</div>
      			<div class="year">
      			{{ post.date | date:"%Y" }}
      			</div>
      		</div> 
      		<div class="page-header">
      		<br>
		      <h3 class="post-title" style="text-align: center;">
		      <a href="{{ post.url }}">
		        {{ post.title }}
		      </a>
		      </h3>
		     </div>
		{{ post.content  | split:'<!--break-->' | first }}
	<div class = "read_more">
		<a class="fa fa-link" href="{{ BASE_PATH }}{{ post.url }}">  查看全文&hellip;</a>
	</div>
	
</div>

{% endfor %}

